body {
  overflow: auto;
}

.about-text {
  width: 85%;
}

.section-divider {
    border: none;
    border-top: 2px solid #5cb25d;
    margin: 2rem 0;
    width: 100%;
}

.bottom-bumper {
    height: 10vh;
}